body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

.title-panel {
    padding-top: 4.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.iphone-mockup {
    width: 60%;
    transform: rotate(25deg);
}

/* nav bar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.5rem;
}

/* feature */
.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.feature-icon:hover {
    color: #ff4c68;
}

.feature-caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.feature-description {
    color: #8f8f8f;
}